<h1> You clicked <%= @name %> and temperature is  <%= @temp %></h1>

<%= form_with(url: "/weather/favourite-city", method: "post") do %>
  <%= hidden_field_tag 'name', @name %>
  <%= submit_tag("Add to favourite") %>
<% end %>
