<div class="container">


  <h1>Welcome to the page</h1>
  <h2>Hi <%= @current_user.name %> find your city</h2>

  <%= form_with(url: "/weather/search", method: "get", local: true) do %>
    <%= label_tag(:city, "Search for:") %>
    <%= text_field_tag(:city) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>

